{% extends 'mainbase.html' %}

{% block content %}
<style>
    .success-content{
        height: calc(100vh - 7.5em);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .success{
        grid-column: 2;
        grid-row: 2;
        background: #efe;
        border-radius: 1em;
        border: 1px solid #d4af37;
        background: #d4af37;
        box-shadow: 5px 15px 15px;
    }

    .success h2{
        width: 100%;
        text-align: center;
        color: darkred;
    }

    .success blockquote{
        text-align: center;
    }
</style>
<div class="success-content">
    
    <div class="success">
        <h2 >Are You Sure!</h2>
        <blockquote>You want to Delete {{invoice.Customer_Name}}'s Invoice?</blockquote>
        
        <a href="http://127.0.0.1:8000/invoice/delete/{{ID}}/YES">
            <button class="order_proceed" id="order_proceed">YES!</button>
        </a>
        <a href="{% url 'invoice' %}">
            <button class="order_proceed" id="order_proceed">NO!</button>
        </a>
    </div>

</div>
{% endblock %}