{% extends 'mainbase.html' %}

{% block content %}
<style>
    .order_gallery{
        height: auto;
        width: auto;
        gap: 1em 1em;
        grid-template-columns: auto;
        grid-template-rows: auto;
        position: absolute;
        background: #fff;
        float: right;
        border-radius: 0.5em;
        right: 30%;
        top: 30%;
        border: 2px solid #d4af37;
        position: fixed;
        box-shadow: 1px 2px 3px #d4af37;
        display: none;
    }

    .order_gallery h3{
        font-size: large;
        font-variant: small-caps;
        text-align: center;
    }

    .order_gallery .atention_op{
        background: #d4af37;
        padding: 1em ;
        margin: 0.5em;
    }

    .order_gallery:hover .atention_op:hover{
        border-radius: 0.5em;
    }
    #attntion_button{
        float: right;
    }
</style>

<!-- MOBILE 360px TO 450px -->
<style>

    @media screen and (max-width:450px) {
        #id_Expecting_Date{
            width: fit-content;
        }
        
        #id_Shoulder_to_nipple_point,
        #id_Shoulder_to_under_burst,
        #id_Shoulder_to_half_length,
        #id_Shoulder_to_hip_part,
        #id_Shoulder_to_knee_length,
        #id_Shoulder_to_dress_length,
        #id_Burst,
        #id_Upper_burst,
        #id_Under_Burst,
        #id_High_waist_measurement,
        #id_Waist_measurement,
        #id_High_hip,
        #id_Hip,
        #id_Knee_measurement,
        #id_Cleavage_level,
        #id_Shoulder_measurement,
        #id_Sleeve_length,
        #id_Round_sleeve_length,
        #id_Waist_to_hip,
        #id_Waist_to_knee,
        #id_Waist_to_floor{
            width: 8em;
        }
    }
    @media screen and (max-width:400px) {

        .Mesurements_div{
            width: 100%;
        }

        #id_Expecting_Date{
            width: fit-content;
        }        

        #id_Shoulder_to_nipple_point,
        #id_Shoulder_to_under_burst,
        #id_Shoulder_to_half_length,
        #id_Shoulder_to_hip_part,
        #id_Shoulder_to_knee_length,
        #id_Shoulder_to_dress_length,
        #id_Burst,
        #id_Upper_burst,
        #id_Under_Burst,
        #id_High_waist_measurement,
        #id_Waist_measurement,
        #id_High_hip,
        #id_Hip,
        #id_Knee_measurement,
        #id_Cleavage_level,
        #id_Shoulder_measurement,
        #id_Sleeve_length,
        #id_Round_sleeve_length,
        #id_Waist_to_hip,
        #id_Waist_to_knee,
        #id_Waist_to_floor{
            width: 7em;
        }
    }    
    
    @media screen and (max-width:360px) {
        #id_Expecting_Date,
        #id_Measurement_pref,
        #id_Design_pref{
            width: fit-content;
        }

        #id_Shoulder_to_nipple_point,
        #id_Shoulder_to_under_burst,
        #id_Shoulder_to_half_length,
        #id_Shoulder_to_hip_part,
        #id_Shoulder_to_knee_length,
        #id_Shoulder_to_dress_length,
        #id_Burst,
        #id_Upper_burst,
        #id_Under_Burst,
        #id_High_waist_measurement,
        #id_Waist_measurement,
        #id_High_hip,
        #id_Hip,
        #id_Knee_measurement,
        #id_Cleavage_level,
        #id_Shoulder_measurement,
        #id_Sleeve_length,
        #id_Round_sleeve_length,
        #id_Waist_to_hip,
        #id_Waist_to_knee,
        #id_Waist_to_floor{
            width: 6em;
        }
    }
    #id_Client_Name{
        background: none;
        border: none;
        color: aliceblue;
    }
</style>
<a href="http://127.0.0.1:8000/jobs/"><input type="button" value="back"></a>
<div class="contact-title-container">
    <h3 class="contact-titl">You Chose {{Job.Client_Name}}'s Job</h3>
</div>

<div class="order_gallery" id="order_gallery">
    <h3>Atention Please!</h3>
    <blockquote>Do you really want to go back to Gallery and Chose?</blockquote>
    <button class="atention_op" id="attntion_button">No (I will Upload)</button>
</div>

<form action="" class="order_form2" id="order_form" method="post"   enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ orderForm.as_p }} -->
    <div class="order_form_div1" id="order_form_div1">

        <div class="Mesurements_div" id="Client_Name_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Client Name:
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Client_Name}}
            </label>
        </div>

        <div class="Mesurements_div" id="Booking_Date_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Date
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Date}}
            </label>
        </div>

        <div class="Mesurements_div" id="Expecting_Date_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Delivery Date
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Delivery_Date}}
            </label>
        </div>

        <div class="Mesurements_div" id="Design_div" >
            <label class="Design_label" for="id_Design" id="Design_label" >
                Material
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {% if Job.Material == '' %}
                    No Material Uploaded
                {% else %}
                    <img src="{{ Job.Material.url }}" alt="Avatar" style="width:50%;height:20%; border-radius: 1em; margin-left: 1em;">
                {%endif%}
            </label>
        </div>

        <div class="Mesurements_div" id="Design_div" >
            <label class="Design_label" for="id_Design" id="Design_label" >
                Design
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {% if Job.Design == '' %}
                    No Design Uploaded
                {% else %}
                    <img src="{{ Job.Design.url }}" alt="Avatar" style="width:50%;height:20%; border-radius: 1em; margin-left: 1em;">
                {%endif%}
            </label>
        </div>

        <div class="Mesurements_div" id="Shoulder_to_nipple_point_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Shoulder to Nipple Point
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Shoulder_to_nipple_point}}
            </label>
        </div>

        <div class="Mesurements_div" id="Shoulder_to_under_burst_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Shoulder to Under Burst
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Shoulder_to_under_burst}}
            </label>
        </div>

        <div class="Mesurements_div" id="Shoulder_to_half_length_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Shoulder to Half Length
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Shoulder_to_half_length}}
            </label>
        </div>

        <div class="Mesurements_div" id="Shoulder_to_hip_part_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Shoulder to Hip Part
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Shoulder_to_hip_part}}
            </label>
        </div>

        <div class="Mesurements_div" id="Shoulder_to_knee_length_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Shoulder to Knee Length
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Shoulder_to_knee_length}}
            </label>
        </div>

        <div class="Mesurements_div" id="Shoulder_to_dress_length_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Shoulder to Dress Length
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Shoulder_to_dress_length}}
            </label>
        </div>

        <div class="Mesurements_div" id="Burst_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Burst
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Burst}}
            </label>
        </div>

        <div class="Mesurements_div" id="Upper_burst_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Upper Burst
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Upper_burst}}
            </label>
        </div>

        <div class="Mesurements_div" id="Under_Burst_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Under Burst
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Under_Burst}}
            </label>
        </div>

        <div class="Mesurements_div" id="High_waist_measurement_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                High Waist Measurement
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.High_waist_measurement}}
            </label>
        </div>

        <div class="Mesurements_div" id="Waist_measurement_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Waist Measurement
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Waist_measurement}}
            </label>
        </div>

        <div class="Mesurements_div" id="High_hip_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                High Hip
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.High_hip}}
            </label>
        </div>

        <div class="Mesurements_div" id="Hip_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Hip
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Hip}}
            </label>
        </div>

        <div class="Mesurements_div" id="Knee_measurement_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Knee Measurement
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Knee_measurement}}
            </label>
        </div>

        <div class="Mesurements_div" id="Cleavage_level_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Cleavage Level
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Cleavage_level}}
            </label>
        </div>

        <div class="Mesurements_div" id="Shoulder_measurement_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Shoulder Measurement
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Shoulder_measurement}}
            </label>
        </div>

        <div class="Mesurements_div" id="Sleeve_length_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Sleeve Length
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Sleeve_length}}
            </label>
        </div>

        <div class="Mesurements_div" id="Round_sleeve_length_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Round Sleeve Length
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Round_sleeve_length}}
            </label>
        </div>

        <div class="Mesurements_div" id="Waist_to_hip_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Waist to Hip
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Waist_to_hip}}
            </label>
        </div>

        <div class="Mesurements_div" id="Waist_to_knee_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Waist to Knee
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Waist_to_knee}}
            </label>
        </div>

        <div class="Mesurements_div" id="Waist_to_floor_div" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Waist to Floor
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{Job.Waist_to_floor}}
            </label>
        </div>
        
        <div class="Mesurements_div" id="Thigh" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Thigh
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{ JobForm.Thigh }}
            </label>
        </div>

        <div class="Mesurements_div" id="Slit" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Slit
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{ JobForm.Slit }}
            </label>
        </div>

        <div class="Mesurements_div" id="Backless" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Backless
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{ JobForm.Backless }}
            </label>
        </div>

        <div class="Mesurements_div" id="Round_Knee_For_Pant" >
            <label class="Mesurements_label" for="id_Measurement_pref" id="Measurement_pref_label" >
                Round Knee For Pant
            </label>
            <label class="Mesurements_label" for="id_Measurement_pref" id="id_Client_Name" >
                {{ JobForm.Round_Knee_For_Pant }}
            </label>
        </div>
    </div>
    <button class="order_proceed" id="order_proceed">Proceed</button>
</form>
<script>
    document.getElementById('id_Client_Name').value = '{{Job.Client_Name}}'
    document.getElementById('id_Date').value = '{{Job.Date}}'
    document.getElementById('id_Delivery_Date').value = '{{Job.Delivery_Date}}'
    document.getElementById('id_Shoulder_to_nipple_point').value = '{{Job.Shoulder_to_nipple_point}}'
    document.getElementById('id_Shoulder_to_under_burst').value = '{{Job.Shoulder_to_under_burst}}'
    document.getElementById('id_Shoulder_to_half_length').value = '{{Job.Shoulder_to_half_length}}'
    document.getElementById('id_Shoulder_to_under_burst').value = '{{Job.Shoulder_to_under_burst}}'
    document.getElementById('id_Shoulder_to_hip_part').value = '{{Job.Shoulder_to_hip_part}}'
    document.getElementById('id_Shoulder_to_knee_length').value = '{{Job.Shoulder_to_knee_length}}'
    document.getElementById('id_Shoulder_to_dress_length').value = '{{Job.Shoulder_to_dress_length}}'
    document.getElementById('id_Burst').value = '{{Job.Burst}}'
    document.getElementById('id_Upper_burst').value = '{{Job.Upper_burst}}'
    document.getElementById('id_Under_Burst').value = '{{Job.Under_Burst}}'
    document.getElementById('id_High_waist_measurement').value = '{{Job.High_waist_measurement}}'
    document.getElementById('id_Waist_measurement').value = '{{Job.Waist_measurement}}'
    document.getElementById('id_High_hip').value = '{{Job.High_hip}}'
    document.getElementById('id_Hip').value = '{{Job.Hip}}'
    document.getElementById('id_Knee_measurement').value = '{{Job.Knee_measurement}}'
    document.getElementById('id_Cleavage_level').value = '{{Job.Cleavage_level}}'
    document.getElementById('id_Shoulder_measurement').value = '{{Job.Shoulder_measurement}}'
    document.getElementById('id_Sleeve_length').value = '{{Job.Sleeve_length}}'
    document.getElementById('id_Round_sleeve_length').value = '{{Job.Round_sleeve_length}}'
    document.getElementById('id_Waist_to_hip').value = '{{Job.Waist_to_hip}}'
    document.getElementById('id_Waist_to_knee').value = '{{Job.Waist_to_knee}}'
    document.getElementById('id_Waist_to_floor').value = '{{Job.Waist_to_floor}}'
</script>

{% endblock %}